<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.module.shipManage.ShipManageMapper">
    <resultMap id="shpType" type="java.util.HashMap"/>

    <!-- 查询船舶信息 -->
    <select id="queryShip" resultType="com.ai.frame.export.Ship"
            parameterType="java.util.HashMap">
		select id,
				access_port_date,
				name,
				length,
				tonnage,
				anchor_date,
				target_port,
				weigh_date,
				anchor_days,
				telephone,
				break_rules,
				width,
				tonnage_net,
				tonnage_load
		from shipmanage sm  where  1=1
		<if test="dataStr!=null">
			and DATEDIFF(DATE_FORMAT(#{dataStr}, '%Y-%m-%d'),sm.anchor_date)&gt;=0
			and  DATEDIFF(DATE_FORMAT(#{dataStr}, '%Y-%m-%d'),sm.weigh_date)&lt;=0
		</if>
		<if test="dataStr==null and name==null">
			and DATEDIFF(NOW(),sm.anchor_date)&gt;=0 and  DATEDIFF(NOW(),sm.weigh_date)&lt;=0
		</if>
		<if test="name!=null">
			AND sm.name=#{name}
		</if>
		<if test="pageSize!=null">
            LIMIT #{offset},#{pageSize}
		</if>
    </select>

	<!--查询总记录数-->
    <select id="queryCount" resultType="Integer"
            parameterType="java.util.HashMap">
        SELECT count(*) FROM shipManage sm where  1=1
		<if test="dataStr!=null">
			and DATEDIFF(DATE_FORMAT(#{dataStr}, '%Y-%m-%d'),sm.anchor_date)&gt;=0
			and  DATEDIFF(DATE_FORMAT(#{dataStr}, '%Y-%m-%d'),sm.weigh_date)&lt;=0
		</if>
		<if test="dataStr==null">
			and DATEDIFF(NOW(),sm.anchor_date)&gt;=0 and  DATEDIFF(NOW(),sm.weigh_date)&lt;=0
		</if>
		<if test="name!=null">
			AND sm.name=#{name}
		</if>
    </select>

	<!--查询锚地最小和最大日期-->
	<select id="queryMaxMinDate" resultType="java.util.HashMap"
		>
		select name,min(mao_date) min,max(mao_date) max
			from tab_anchorage_res t GROUP BY name;
	</select>

	<select id="queryEveryDate" resultType="java.sql.Date"
			parameterType="java.lang.String">
		select mao_date
			from tab_anchorage_res t where name=#{name} ORDER by mao_date
	</select>


	<!--对锚定日期临时表进行处理，插入到锚定日期正式表-->
	<insert id="insertAnchorage" parameterType="com.ai.module.others.Anchorage">
		INSERT into  tab_anchorage( name,anchor_date ,weigh_date ,anchor_days ,nameAndDate )
			values (#{name},#{anchor_date},#{weigh_date},#{anchor_days},#{nameAndDate})
		ON DUPLICATE KEY
			update
				anchor_date=#{anchor_date},
				weigh_date=#{weigh_date},
				anchor_days=#{anchor_days}
	</insert>


    <!--用于数据库刷新数据,从三张表中获取数据，并加上业务逻辑后插入到 终表中-->
    <insert id="refreshData">
	insert into shipmanage
						(access_port_date,name,length,width,tonnage,tonnage_net,tonnage_load,anchor_date,target_port,weigh_date,anchor_days,telephone,break_rules,nameAndDate)
			select
							(CASE WHEN t.mao_date is NULL THEN '1900-1-1'  ELSE t.mao_date  END) mao_date1,
							t.name,
							-- length,tonnage,paomao_date,-- qimao_date,mao_days,telephone,break_rules
							(CASE WHEN ts.length is NULL THEN 0.0  ELSE ts.length  END) length1,
							(CASE WHEN ts.width is NULL THEN 0.0  ELSE ts.width  END) width1,
							(CASE WHEN ts.tonnage is NULL THEN 0.0  ELSE ts.tonnage  END) tonnage1,
							(CASE WHEN ts.tonnage_net is NULL THEN 0.0  ELSE ts.tonnage_net  END) tonnage_net1,
							(CASE WHEN ts.tonnage_load is NULL THEN 0.0  ELSE ts.tonnage_load  END) tonnage_load1,
							(CASE WHEN t.paomao_date is NULL THEN '1900-1-1'  ELSE t.paomao_date  END) paomao_date1,
							(CASE WHEN t.target_port is NULL THEN '-'  ELSE t.target_port  END) target_port1,
							(CASE WHEN t.qimao_date is NULL THEN '1900-1-1'  ELSE t.qimao_date  END) qimao_date1,
							(CASE WHEN t.mao_days is NULL THEN 0  ELSE t.mao_days  END) mao_days1,
							(CASE WHEN ts.telephone is NULL THEN '-'  ELSE ts.telephone  END) telephone1,
							(CASE WHEN ts.break_rules is NULL THEN '-'  ELSE ts.break_rules  END) break_rules1,
							t.nameAndDate

			FROM
						(select tm.*,tp.target_port,tp.mao_date from
								(select name,anchor_date paomao_date,weigh_date qimao_date,anchor_days mao_days,nameAndDate
												from tab_anchorage t ) tm
												left JOIN tab_wharfs tp
												on tm.name=tp.name and (tm.qimao_date=tp.mao_date or tm.qimao_date+1=tp.mao_date)
												)  t
						LEFT JOIN
						tab_vessels ts
			on t.name=ts.name
ON DUPLICATE KEY UPDATE
			access_port_date = (CASE WHEN t.mao_date is NULL THEN '1900-1-1'  ELSE t.mao_date  END),
			length = (CASE WHEN ts.length is NULL THEN 0.0  ELSE ts.length  END),
			width = (CASE WHEN ts.width is NULL THEN 0.0  ELSE ts.width  END),
			tonnage = (CASE WHEN ts.tonnage is NULL THEN 0.0  ELSE ts.tonnage  END) ,
			tonnage_net = (CASE WHEN ts.tonnage_net is NULL THEN 0.0  ELSE ts.tonnage_net  END) ,
			tonnage_load = (CASE WHEN ts.tonnage_load is NULL THEN 0.0  ELSE ts.tonnage_load  END) ,
			telephone = (CASE WHEN ts.telephone is NULL THEN '-'  ELSE ts.telephone  END),
			break_rules = (CASE WHEN ts.break_rules is NULL THEN '-'  ELSE ts.break_rules  END),
			anchor_date = (CASE WHEN t.paomao_date is NULL THEN '1900-1-1'  ELSE t.paomao_date  END),
			target_port =  (CASE WHEN t.target_port is NULL THEN '-'  ELSE t.target_port  END),
			weigh_date = (CASE WHEN t.qimao_date is NULL THEN '1900-1-1'  ELSE t.qimao_date  END),
			anchor_days =(CASE WHEN t.mao_days is NULL THEN 0  ELSE t.mao_days  END)
    </insert>

	<!--插入到锚定日期原始表：tab_anchorage_res（锚定）-->
	<insert id="insertAnchorageSource" parameterType="java.util.HashMap">
		INSERT into tab_anchorage_res (mao_date,name) values(#{mao_date},#{name})
	</insert>
	<!--插入到锚定日期原始表：tab_wharfs（码头）-->
	<insert id="insertWharfsSource" parameterType="java.util.HashMap">
		INSERT into tab_wharfs (mao_date,name,target_port) values(#{mao_date},#{name},#{target_port})
	</insert>
	<!--插入到锚定日期原始表：tab_vessels(船舶基本信息)-->
	<insert id="insertVesselsSource" parameterType="java.util.HashMap">
		INSERT into tab_vessels (name,telephone,length,tonnage,break_rules,width,tonnage_net,tonnage_load) values(#{name},#{telephone},#{length},#{tonnage},#{break_rules},#{width},#{tonnage_net},#{tonnage_load})
	</insert>

</mapper>

